.navbar {
  background-color: #fff0e5;
  background-image: linear-gradient(to left, #fff0e5, rgb(228, 228, 228));
  padding: 14px 0;
  border-bottom: dashed 4px #fff0e5;
}

.navbar-brand {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  /* color: #ffd300; */
  color: white;
  background-color: #10162f;
  border-radius: 4px;
  margin-right: 14px;
}

li a {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 17px;
  font-style: normal;
}

li a:hover {
  font-weight: 400;
  font-size: 17px;
  font-style: normal;
}

li a:active,
li a:checked,
li a:focus {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 17px;
  font-style: normal;
}

.navbar-brand__name {
  font-size: 9px;
  position: relative;
  top: -12px;
  right: -28px;
  color: #10162f;
  font-family: "Montserrat", serif;
}
.navbar-brand__name:hover {
  color: inherit;
}
