.container-main {
  padding-bottom: 4rem;
}

.container-main .form-container {
  margin-top: 4rem;
  /* margin-bottom: 2rem; */
}

.container-buttons .btn {
  margin-right: 8px;
}

.btn {
  font-weight: 600;
  border: 1px solid #10162f;
}

.form-container input.ng-invalid.ng-touched,
.form-container textarea.ng-invalid.ng-touched {
  border: 1px solid salmon;
}

.form-container .form-group {
  margin: -1.4rem 0px;
}
