.content-search__main {
  /* border: 1px solid #ff0000; */
  margin-top: 1%;
  padding: 20px 0;
  font-family: "Montserrat", serif;
}

.content-search input {
  width: 80%;
  margin: auto;
  padding: 2rem 2rem;
  border: 2px solid #10162f5b;
  border-radius: 20px;
  font-weight: 600;
  background-color: transparent;
  outline: none;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.content-search input:focus,
.content-search input:active {
  border: 2px solid #10162f;
  transform: translate(4px, -4px);
  box-shadow: -4px 4px 0px 0px #272727;
}


@media (min-width: 49rem) {
  .content-search input {
    width: 40rem;
  }
}
