<div class="container content-catalog__main">

  <div class="col-xs-12 row content-catalog__header">
    <div class="col-xs-12 title">
      <p>Explore Recipes!</p>
    </div>

    <div class="col-xs-12">
      <app-search></app-search>
    </div>
    <!-- <app-menu></app-menu> -->
  </div>

  <div class="col-xs-12 row content-catalog__body">
    <div class="col-xs-12">
      <app-catalog-list></app-catalog-list>
    </div>
    <!-- <div class="col-xs-4" >
      <span>the most rated</span>
    </div> -->
  </div>

</div>
