<div class="container-main">

  <div class="container-back-link">
    <a (click)="onBackLink()"><i class="fa-solid fa-xmark"></i></a>
  </div>

  <div class="content-imagem">
      <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive recipe-image"/>
  </div>

  <div class="content-name">
      <div >
          <h1>{{recipe.name}}</h1>
      </div>
  </div>

  <div class="content-presentation">
      <div>
          {{recipe.presentation}}
      </div>
  </div>

  <div class="content-description">
      <div>
          <pre>{{recipe.description}}</pre>
      </div>
  </div>

  <div class="container-ingredients">
    <ul class="ingredients-list">
      <li class="ingredients-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name ? ingredient.name : '-' }}
      </li>
    </ul>
  </div>

</div>
