.container-main {
  width: 100%;
}

.container-main .container-back-link {
  margin: auto;
  width: 100%;
  height: 5rem;
  text-align: right;
  background-color: transparent;
  vertical-align: middle;
}

.container-back-link i {
  font-size: 3rem;
  color: #10162f;
  cursor: pointer;
}

.container-main .content-imagem {
  margin: auto;
  width: 100%;
}

.container-main .content-name {
  margin: auto;
  width: 100%;
}

.container-main .content-presentation {
  margin: auto;
  width: 100%;
}

.container-main .content-description {
  margin: auto;
  width: 100%;
}

.container-ingredients {
  margin: auto;
  width: 100%;
}

@media (min-width: 40rem) {

}
