<div class="content-item" >
  <div class="item-body" [routerLink]="[index]" routerLinkActive="active">
    <img [src]="recipe.imagePath" alt="recipe" />
  </div>
  <div class="item-footer">
    <div>
      <h5 [routerLink]="[index]" routerLinkActive="active">{{ recipe.name }}</h5>
      <p [routerLink]="[index]" routerLinkActive="active">{{ recipe.description| truncate }}</p>
      <span>{{recipe.likes}} <i class="fa-solid fa-heart"></i></span>
      <span
        class="item_user_name"
        routerLInkActive="active" [routerLink]="linkProfile"
        >{{recipe.creator}}
      </span>
    </div>
  </div>
  <br/>
  <div class="content_like">
    <a><i class="fa-regular fa-comment"></i></a>
    <a><i class="fa-regular fa-heart"></i></a>
  </div>
</div>
